
.vs/slnx.sqlite
.vs/AGIZero/v17/Browse.VC.opendb
.vs/AGIZero/v17/Browse.VC.db-wal
.vs/AGIZero/v17/Browse.VC.db-shm
.vs/AGIZero/v17/Browse.VC.db
.vs/AGIZero/FileContentIndex/read.lock
.vs/AGIZero/FileContentIndex/dc8fd852-670b-42f3-b8da-f87014d8b021.vsidx
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/AGIZero/FileContentIndex/9b2d49d4-7c58-4ab1-a7a9-3de5c5ac1319.vsidx
*.vsidx
